@model Localactors.webapp.Controllers.ProfileBarModel
@if (Model.user != null)
{
    <div id='profile-bar'>
        <div id='header-profile'>
            <div id='donor'>
                <img alt='' class='photo-donor' src='@Model.user.Image'>
                <div class='container'>
                    <h3 class='name'>
                        <a href="@Url.Action("Feed", "Profile")">
                            @Model.user.Name @Model.user.Lastname</a></h3>
                    <a href='@Url.Action("Settings", "Profile")'>Settings</a>
                </div>
            </div>
            <div id='projects-supported'>
                <hr class='spacer-profile'>
                <div class='container'>
                    <div id='supported'>
                        <h3>
                            <span class="number">@Model.projects.Count()</span> supported projects
                        </h3>
                    </div>
                    <div id='total-donated'>
                        <a href='#' id=""><span class="number">&#128; @Model.donations.Sum(x => x.Amount)</span>
                            donated </a>
                    </div>
                </div>
            </div>
            <div id='updates'>
                <hr class='spacer-profile'>
                <div class='container'>
                    <a href='@Url.Action("Feed", "Profile")'>updates</a>
                </div>
            </div>
            <div id='logout'>
                <div class='container'>
                    <a href='@Url.Action("Logout", "Account")'>Logout</a>
                </div>
            </div>
        </div>
        <ul id='supported_list' style="display: none; overflow: auto;">
            <hr class='spacer-projects-top' />
            <a class='close' href='#'>close</a>
            @foreach (var item in Model.projects)
            {
                Html.RenderPartial("_ProfileBar_Donation", item);
            }
        </ul>
        <div id='stream_update' style="display: none; overflow: auto;">
            <hr class='spacer-projects-top'>
            <a class='close' href='#'>close</a>
            <div id='update-body'>
                @foreach (var item in Model.updates)
                {
                    Html.RenderPartial("_ProfileBar_Update", item);
                }
            </div>
        </div>
    </div>
}else{
    <div id='profile-bar'>
        <div id='header-profile'>
            <div class='right'>
                @{Html.RenderPartial("_Login");}
            </div>
        </div>
    </div>
}