@using System.Configuration
@model update
@{
    bool isadmin = User.IsInRole("admin") || ViewBag.UserID == Model.UserID ;
    bool isauthenticated = User.Identity.IsAuthenticated;
}
<div class='single-update-body'>
    @foreach (update_content content in Model.update_content)
    {
        { Html.RenderPartial("_Update_Content", content); }
    }
    <div class='comments-container'>
        <a name="comments-@Model.ProjectID" id="comments" />
        <h4>
            Comments</h4>
        @foreach (var item in Model.update_comment.OrderByDescending(x => x.CommentID))
        {
            <div class="comment-single-entry">
                <div>
                    from: @item.user.UserName</div>
                <div>
                    date: @item.Date</div>
                <div>@item.Text</div>
                @if (isadmin || ViewBag.UserID == item.UserID)
                {
                    <div class="admin">
                        @using (Html.BeginForm("CommentDelete", "Projects"))
                        {
                            <input type="hidden" name="CommentID" value="@item.CommentID"/>
                            <input type="hidden" name="ProjectID" value="@Model.ProjectID"/>
                            <input type="submit" value="delete" class="btn"/>
                        }
                    </div>
                }
            </div>
        }
        @if (isauthenticated)
        {
            using (Html.BeginForm("CommentCreate", "Projects", FormMethod.Post, new { enctype = "multipart/form-data", id = "", @class = "commentform" }))
            {
            <input type="hidden" name="UpdateID" value="@Model.UpdateID"/>
            <input type="hidden" name="UserID" value="@User.Identity"/>
            <input type="hidden" name="Date" value="@DateTime.Now.ToShortDateString()"/>
            <div class="editor-label">
                Text
            </div>
            <div class="editor-field">
                @Html.TextArea("Text")
                @Html.ValidationMessage("Text")
            </div>
             <div class="editor-label">
                    Picture
                </div>
                <div class="editor-field">
                    <input type="file" id="Picture" name="Picture" class="imageupload" />
                    @Html.ValidationMessage("Picture")
                </div>
            <p>
                <input type="submit" class="btn" value="Create" />
            </p>
            }
        }else {
            <div>To post comments on the Project you need to register or login.</div>
        }
    </div>
</div>
