@using System.Configuration
@using System.Globalization
@model update
<div class='single-update-header'>
    <div class='date'>
        <h3 class='day'>
            @Model.Date.Day /
        </h3>
        <h3 class='month'>
            @CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(Model.Date.Month) /
        </h3>
        <h3 class='year'>
            @Model.Date.Year</h3>
    </div>
    <div class='comments-container'>
        <div class='comments'>
            <div class='arrow'>
            </div>
            <a href='#comments-@Model.ProjectID'>@Model.update_comment.Count Comments</a>
        </div>
        <div class='share'>
           <!-- AddThis Button BEGIN -->
             <div addthis:description='THE DESCRIPTION' addthis:title='THE TITLE' addthis:url='THE URL' class='addthis_toolbox addthis_default_style addthis_32x32_style'>
               <a class='addthis_button_facebook'></a>
               <a class='addthis_button_twitter'></a>
               <a class='addthis_button_google_plusone_share'></a>
               <a class='addthis_counter addthis_bubble_style'></a>
             </div>
             <script>
               var addthis_config = {"data_track_addressbar":true};
             </script>
             <script src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f0a3fcd63f94cae' type='text/javascript'></script>
             <!-- AddThis Button END -->
        </div>
    </div>
    <div class='update-headline-container'>
        <div class='main-container'>
            <p class='info-project-track'>
                <span class="number">since last update @((Model.Date - Model.project.DateEnd).Days)</span> days /
                <span class="number">&#128; @Model.project.donations.Where(x => x.Date <= Model.Date).Sum(x => x.Amount)</span>
                raised of <span class="number">&#128; @Model.project.Target</span> pledged / <span
                    class="number">@Model.project.donations.Where(x => x.Date <= Model.Date).Select(x => x.UserID).Distinct().Count()</span>
                supporters
            </p>
            <div class='clear'>
            </div>
            <h1 class='title-update'>
                <a href="@Url.Action("Updates", "Projects", new { id = Model.ProjectID })">
                    @Html.Raw(Model.Title)
                </a>
            </h1>
        </div>
    </div>
    <div class='intro-update-container'>
        <p class='intro'>
            @Html.Raw(Model.Intro)
        </p>
    </div>
</div>
