@using System.Configuration
@model update
@{
    bool isadmin = User.IsInRole("admin") || ViewBag.UserID == Model.UserID;
    bool isauthenticated = User.Identity.IsAuthenticated;
}
<div id='comments'>
    <h3 class='number-comments'>
        @Model.update_comment.Count comments:
    </h3>
    <ul>
        @foreach (var item in Model.update_comment.OrderByDescending(x => x.CommentID))
        {
            <li>
                <div class='container-photo-profile'>
                    <img alt='' class='photo-profile' src='@item.user.Image' />
                </div>
                <h3 class='name'>
                    from: @item.user.UserName</h3>
                <p class='date'>
                    date: @item.Date <span class="slash">/</span>
                </p>
                <div class='content'>
                    <p>
                        @item.Text
                    </p>
                    <img alt='' class='photo-comment' src='@item.Picture' />
                </div>
                @if (isadmin || ViewBag.UserID == item.UserID)
                {
                    <div class="admin">
                        @using (Html.BeginForm("CommentDelete", "Projects"))
                        {
                            <input type="hidden" name="CommentID" value="@item.CommentID"/>
                            <input type="hidden" name="ProjectID" value="@Model.ProjectID"/>
                            <input type="submit" value="delete" class="btn" />
                        }
                    </div>
                }
            </li>
            <hr class='spacer-comments' />
        }
    </ul>
</div>
@if (isauthenticated)
{
    Html.RenderPartial("_Form_Comment", Model);
}
else
{
    <p>
        To post comments on the Project you need to register or login.</p>  
            
}
