@model Localactors.entities.project_guestbook

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>project_guestbook</legend>

    <div class="display-label">project</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.project.Title)
    </div>

    <div class="display-label">user</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user.Role)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">Text</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">Picture</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Picture)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn"  value="Delete" /> |
        @Html.ActionLink("Back to List", "Index",new{},new{@class="btn"})
    </p>
}
