@model IEnumerable<Localactors.entities.project>
@{
    ViewBag.Title = "Projects";
}
<script>

    window.showallposts = function () {
        $(".poststoggle").each(function () {
            $(this).click();
        });
    };
    window.showallcomments = function () {
        $(".commentstoggle").each(function () {
            $(this).click();
        });
    };


    window.showcomments = function (id) {
        $("#commentcell" + id).html("");

        $.ajax({
            dataType: "json",
            url: "/admin/projects/comments/" + id,
            data: null,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var tmp = data[i]["date"];
                    if (tmp) {
                        data[i]["date"] = new Date(parseInt(tmp.substr(6)));
                    }
                }

                var source = $("#comments-template").html();
                var template = Handlebars.compile(source);
                var html = template(data);

                $("#commentcell" + id).html(html);
                $("#commentrow" + id).show();
            }
        });
        return false;
    };
    window.showposts = function (id) {
        $("#postcell" + id).html("");

        $.ajax({
            dataType: "json",
            url: "/admin/projects/posts/" + id,
            data: null,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var tmp = data[i]["date"];
                    if (tmp) {
                        data[i]["date"] = new Date(parseInt(tmp.substr(6)));
                    }
                }

                var source = $("#posts-template").html();
                var template = Handlebars.compile(source);
                var html = template(data);

                $("#postcell" + id).html(html);
                $("#postrow" + id).show();
            }
        });
        return false;
    };


    window.hidecomments = function (id) {
        $("#commentcell" + id).html("");
        $("#commentrow" + id).hide();
    };
    window.hideposts = function (id) {
        $("#postcell" + id).html("");
        $("#posttrow" + id).hide();
    };

    window.deletecomment = function (id) {
        $.ajax({
            dataType: "text",
            url: "/admin/projects/deletecomment/" + id,
            data: null,
            success: function (text) {
                data = text;
                $("#comment" + id).hide();
            }
        });
        return false;
    };
    window.deletepost = function (id) {
        $.ajax({
            dataType: "text",
            url: "/admin/projects/deletepost/" + id,
            data: null,
            success: function (text) {
                data = text;
                $("#post" + id).hide();
            }
        });
        return false;
    };

</script>
<script id="comments-template" type="text/x-handlebars-template">
    {{#each .}}
    <table class="table table-condensed table-bordered" id="comment{{id}}" > 
        <tr>
            <td colspan="2">
                <a href="/admin/user/edit/{{user.id}}">{{user.name}}</a> {{date}} 
                <a href="javascript:void(0);" onclick="deletecomment({{id}});"><i class="icon-remove"></i></a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/admin/update/edit/{{update.id}}">{{update.title}}</a>
            </td>
        </tr>
        <tr>
            <td class="body" style="width:32px;">
                <div><img src="{{picture}}" width="64px"></div>
            </td>
            <td class="body">
                <div>{{message}}</div>
            </td>
        </tr>
    </table>
    {{/each}}
</script>
<script id="posts-template" type="text/x-handlebars-template">
    {{#each .}}
    <table class="table table-condensed table-bordered" id="post{{id}}" > 
        <tr>
            <td colspan="2">
                <a href="/admin/user/edit/{{user.id}}">{{user.name}}</a> {{date}} 
                <a href="javascript:void(0);" onclick="deletepost({{id}});"><i class="icon-remove"></i></a>
            </td>
        </tr>
        <tr>
            <td class="body" style="width:32px;">
                <div><img src="{{picture}}" width="64px"></div>
            </td>
            <td class="body">
                <div>{{message}}</div>
            </td>
        </tr>
    </table>
    {{/each}}
</script>

@*<ul class="breadcrumb">
    <li><a href='@Url.Action("Index","Home")'>Home</a> <span class="divider">/</span></li>
    <li class="active"><a href='@Url.Action("Index","projects")'>Projects</a> </li>
</ul>*@

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn" })  
    <a href="javascript:void(0);" class="btn" onclick="showallcomments();">Show Comments</a> 
    <a href="javascript:void(0);" class="btn" onclick="showallposts();">Show Guestbook</a>
</p>
<table class="table table-condensed table-bordered">
    <tr>
        <th></th>

        <th>
            Agency
        </th>
        <th>
            Title
        </th>

        <th>
            Target 
        </th>
        <th>
            Ends
        </th>
        <th>Days</th>
        <th>
            Country
        </th>
        <th>
            Location
        </th>
        <th></th>
 
    </tr>

@foreach (var item in Model) {
    <tr class="@(item.Enabled == false ? "disabled":"")">
        <td style="background:url(@item.Image); background-size:cover;background-repeat:no-repeat;width:90px;">
            
        </td>

        <td>
            @Html.Raw(item.AgancyName)
        </td>
        <td>
            @Html.Raw(item.Title)
        </td>

      
        <td>
            @Html.DisplayFor(modelItem => item.Target)
        </td>
        <td >
            @item.DateEnd.ToShortDateString()
        </td>
        <td> @((item.DateEnd-DateTime.Now).Days)</td>
        <td>
            @Html.DisplayFor(modelItem => item.country.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
     
        <td style="white-space: nowrap;">
            
            @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID, area="Publisher" }, new { }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID, area = "Publisher" }, new { }) | 
            @Html.ActionLink("Updates", "Index", "Update", new { projectid = item.ProjectID, area = "Publisher" }, new { })  |
            @Html.ActionLink("Add Update", "Create", "Update", new { projectid = item.ProjectID, area = "Publisher" }, new { }) |
            <br/>
            <a href="javascript:void(0);" class="commentstoggle" onclick="showcomments(@item.ProjectID);">comments</a>  |  
            <a href="javascript:void(0);" class="poststoggle" onclick="showposts(@item.ProjectID);">guestbook</a>
        </td>
    </tr>
    <tr id="commentrow@(item.ProjectID)" style="display: none;">
        <td >
            Comments <a href="javascript:void(0);" class="" onclick="hidecomments(@item.ProjectID);"><i class="icon-minus-sign"></i></a>
        </td>
        <td class="comments" id="commentcell@(item.ProjectID)" colspan="8">
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr id="postrow@(item.ProjectID)" style="display: none;">
        <td >
            Guestbook <a href="javascript:void(0);" class="" onclick="hideposts(@item.ProjectID);"><i class="icon-minus-sign"></i></a>
        </td>
        <td class="comments" id="postcell@(item.ProjectID)" colspan="8">
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
}

</table>
