@model IEnumerable<Localactors.entities.project>
@{
    ViewBag.Title = "Projects";
}

<ul class="breadcrumb">
    <li><a href='@Url.Action("Index","Home",new{Area="Publisher"})'>Publisher Home</a> <span class="divider">/</span></li>
    <li class="active"><a href='@Url.Action("Index","Home",new{Area="Publisher"})'>Projects</a> </li>
</ul>

<p>
    <a href="@Url.Action("Create","Projects")" class="btn btn-success btn-mini">Create Project</a>
</p>

<table class="table table-condensed table-bordered">
    <tr>
        <th></th>

        <th>
            Status
        </th>
        <th>
            Title
        </th>

        <th>
            Target 
        </th>
        <th>
            Ends
        </th>
        <th>Days</th>
   
        <th>
            Location
        </th>
        <th></th>
 
    </tr>

@foreach (var item in Model) {
    <tr class="">
        <td >
            <img src="@item.Image" height="64"/>
        </td>

        <td>
            <div class="label">@(item.Enabled ? "Active" : "Waiting Approvation")</div>
        </td>
        <td>
            @Html.Raw(item.Title)
        </td>

      
        <td>
            @Html.DisplayFor(modelItem => item.Target)
        </td>
        <td >
            @item.DateEnd.ToShortDateString()
        </td>
        <td> @((item.DateEnd-DateTime.Now).Days)</td>
  
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
     
        <td style="white-space: nowrap;">
            @Html.ActionLink("Edit", "Edit","Projects", new { id = item.ProjectID, area="Publisher" }, new {@class="btn" }) 
        </td>
    </tr>
    
}

</table>
