@model IEnumerable<Localactors.entities.user>
@{
    ViewBag.Title = "Index";
}
<ul class="breadcrumb">
    <li><a href='@Url.Action("Index", "Home")'>Home</a> <span class="divider">/</span></li>
    <li class="active"><a href='@Url.Action("Index", "User")'>Users</a> <span class="divider">
        /</span></li>
</ul>
<ul class="nav nav-pills">
    <li><a href='@Url.Action("Index", "User")'>All Users</a></li>
    <li><a href='@Url.Action("Index", "User", new { role = "admin" })'>Admins</a></li>
    <li><a href='@Url.Action("Index", "User", new { role = "publisher" })'>Publishers</a></li>
    <li><a href='@Url.Action("Index", "User", new { role = "supporter" })'>Supporters</a></li>
</ul>
<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn" })
</p>
<table class="table table-condensed table-striped table-bordered">
    <tr>
        <th>
        </th>
        <th>
            Role
        </th>
        <th>
            UserName
        </th>
        <th>
            Name
        </th>
        <th>
            Lastname
        </th>
        <th>
            Email
        </th>
        <th>
            country
        </th>
        <th>
            Enabled
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="@(item.Enabled == false ? "disabled" : "")">
            <td>
                <img src="@item.Image" alt="" class="userthumbnail" width="32px" height="32px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td style="white-space: nowrap;">
                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserID }) |
                @(item.Enabled ? Html.ActionLink("Disable", "Disable", "User", new { id = item.UserID }, new { }) : Html.ActionLink("Enable", "Enable", "User", new { id = item.UserID }, new { }))
            </td>
        </tr>
        <tr>
            <td colspan="8">
                Published:
                @foreach (project project in item.projects) {
                    <a href="@Url.Action("Edit", "Projects", new { id = project.ProjectID })" class="btn-success btn btn-mini">@project.Title.Truncate(50)</a> 
                }
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                Followed:
                @foreach (project project in item.followedProjects)
                {
                    <a href="@Url.Action("Edit", "Projects", new { id = project.ProjectID })" class="btn-info btn btn-mini">@project.Title.Truncate(20)</a> 
                }
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td colspan="9">
            </td>
        </tr>
    }
</table>
<div class="pagination">
    <ul>
        <li><a href="@(ViewBag.prev ? Url.Action("index", new { page = ViewBag.page - 1, role = ViewBag.role }) : "#")" >
            Prev</a></li>
        <li><a href="@Url.Action("index", new { page = ViewBag.page, role = ViewBag.role })" class="active">@ViewBag.page</a></li>
        <li><a href="@(ViewBag.next ? Url.Action("index", new { page = ViewBag.page + 1, role = ViewBag.role }) : "#")" >
            Next</a></li>
    </ul>
</div>
