@model IEnumerable<Localactors.entities.user>

@{
    ViewBag.Title = "Index";
}

<ul class="breadcrumb">
    <li><a href='@Url.Action("Index","Home")'>Home</a> <span class="divider">/</span></li>
    <li class="active"><a href='@Url.Action("Index","User")'>Users</a> <span class="divider">/</span></li>
</ul>

<ul class="nav nav-pills">
    <li><a href='@Url.Action("Index", "User")'>All Users</a></li>
    <li><a href='@Url.Action("Index", "User",new{role="admin"})'>Admins</a></li>
    <li><a href='@Url.Action("Index", "User", new { role = "publisher" })'>Publishers</a></li>
    <li><a href='@Url.Action("Index", "User", new { role = "supporter" })'>Supporters</a></li>
</ul>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn" })
</p>

<table class="table table-condensed table-striped table-bordered">
    <tr>
        <th>
            Role
        </th>
        <th>
            UserName
        </th>
       
        <th>
            Name
        </th>
        <th>
            Lastname
        </th>

        <th>
            Email
        </th>
        <th>
            country
        </th>
        <th>
            Enabled
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
   
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
   
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enabled)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
