@model Localactors.entities.project
@{
    ViewBag.Title = "Project Details";
}
@*
@Html.ActionLink("Back to List", "Index",new{},new{@class="btn"})

@Html.DisplayFor(model => model.user.UserName)
@Html.DisplayFor(model => model.Title)
@Html.DisplayFor(model => model.Description)
@Html.DisplayFor(model => model.Date)
@Html.DisplayFor(model => model.DateStart)
@Html.DisplayFor(model => model.DateEnd)
@Html.DisplayFor(model => model.country.Code)
@Html.DisplayFor(model => model.Location)

<div>Updates</div>
@foreach (var update in Model.updates)
{
    <div>@update.Title</div>
    <div>@update.Date</div>
    <div>@update.UpdateID</div>

    <hr />
    foreach (var content in update.update_content)
    {
        <div>@content.ContentID</div>
    }
    
    <hr />
    foreach (var comment in update.update_comment)
    {
        <div>@comment.CommentID</div>
    }
    <div>add comment</div>
}

<div>Guestbook</div>
@foreach (var guestpost in Model.project_guestbook) {
    <div>@guestpost.GuestpostID</div>
    <div>@guestpost.Date</div>
    <div>@guestpost.Picture</div>
    <div>@guestpost.Text</div>
    <div>@guestpost.user.UserName</div>
}

<div>Donate</div>


@Html.ActionLink("Back to List", "Index",new{},new{@class="btn"})
*@
<div id='single_project'>
    <hr class='spine top'>
    <div class='container-main'>
        <h1 class='title'>
            @Model.Title</h1>
        <div class='icon-where'>
        </div>
        <h2 class='subtitle'>
            @Model.Location</h2>
        <p>
            @Model.Description
        </p>
    </div>
    <img alt='@Model.Title' src='@Model.Image'>
    @*
    <img alt='Rosella01' src='content/images/rosella01.jpg'>
    <img alt='Rosella02' src='content/images/rosella02.jpg'>
    <img alt='Rosella04' src='content/images/rosella04.jpg'>
    <div class='container-main'>
        
        <ul>
            <li>
                <h1 class='title'>
                    Project Plan:</h1>
            </li>
            <li>
                <div class='icon-time'>
                </div>
                <h2 class='subtitle'>
                    May <span>/ meeting local authorities at Lombok</span>
                </h2>
            </li>
            <li>
                <div class='icon-time'>
                </div>
                <h2 class='subtitle'>
                    June <span>/ planning Rosella</span>
                </h2>
            </li>
            <li>
                <div class='icon-time'>
                </div>
                <h2 class='subtitle'>
                    September <span>/ first harvest and production of tea and other products from Rosella</span>
                </h2>
            </li>
            <li>
                <div class='icon-time'>
                </div>
                <h2 class='subtitle'>
                    September <span>/ new Visitors Centre built and opened (event with local production)</span>
                </h2>
            </li>
        </ul>

        <ul>
            <li>
                <h1 class='title'>
                    Costs:</h1>
            </li>
            <li class='cost'>
                <div class='icon-cost'>
                </div>
                <h2 class='subtitle'>
                    800 &#128; <span>/ kick start of the Rosella planting</span>
                </h2>
            </li>
            <li class='cost'>
                <div class='icon-cost'>
                </div>
                <h2 class='subtitle'>
                    1100 &#128; <span>/ building Visitors Centre</span>
                </h2>
            </li>
            <li class='cost'>
                <div class='icon-cost'>
                </div>
                <h2 class='subtitle total'>
                    Total: 1900 &#128;
                </h2>
            </li>
        </ul>

        <p>
            The foundation is putting in-kind resources of the members time and work and also
            resources covering their travelling from Netherlands to Lombok, including basic
            accommodation costs (3600 EUR for 3 Foundation representatives); in kind resources
            of local experts incl. university experts is also another contribution.
        </p>
    </div>
    

    <hr class='dotted'>
    <div class='container-main'>
        <div class='photo-container'>
            <div class='author-container'>
                <img alt='' class='photo-publisher' src='content/images/publisher.png'>
                <div class='social'>
                    <a class='twitter' href='#'></a><a class='facebook' href='#'></a><a class='linkedin'
                                                                                        href='#'></a>
                </div>
                <a class='generic' href='#'>www.placeholderlink.com</a>
            </div>
            <img alt='' class='photo-publisher' src='content/images/cemara_logo.jpg'>
        </div>

        <h1 class='title publisher'>
            AKKE M. DRAIJER-DE JONG</h1>
        <h2 class='subtitle publisher'>
            foundation kebon sepatu</h2>
        <p>
            The Foundation Kebon Sepatu is based in Netherlands and in Indonesia. It has launched
            already a second major project on Lombok, an island near to Bali. The families of
            the founders come from Lombok and the foundation is established on close work together
            with Indonesian and Lombok residents. Kebon Sepatu has currently twenty-seven members
            including voluntary staff, many of which are residents and some Board Members from
            the Netherlands spend several weeks a year on the island.
        </p>
        <p>
            The aim of Foundation Kebon Sepatu is to assist those who, through no fault of their
            own, but mainly through lack of choice and circumstances - have to deal with great
            disadvantages in educational, social, cultural, academic and economic aspects of
            life. The foundation is devoting its work to establishing better living condition
            for people on Lombok through sustainable local employment and training projects.
        </p>
        <h2 class='subtitle team'>
            Team:</h2>
    </div>
    
    //Team member??
    <ul class='container-team'>
        <li class='team-member'>
            <img alt='' class='photo-team' src='content/images/publisher.png'>
            <a class='member' href='#'>Philipp Mainard</a> </li>
        <li class='team-member'>
            <img alt='' class='photo-team' src='content/images/publisher.png'>
            <a class='member' href='#'>Katja Seizinger</a> </li>
        <li class='team-member'>
            <img alt='' class='photo-team' src='content/images/publisher.png'>
            <a class='member' href='#'>Hanna Nicole Jackmann</a> </li>
        <li class='team-member'>
            <img alt='' class='photo-team' src='content/images/publisher.png'>
            <a class='member' href='#'>Katja Seizinger</a> </li>
        <li class='team-member'>
            <img alt='' class='photo-team' src='content/images/publisher.png'>
            <a class='member' href='#'>Hanna Nicole Jackmann</a> </li>
        <li class='team-member'>
            <img alt='' class='photo-team' src='content/images/publisher.png'>
            <a class='member' href='#'>Philipp Mainard</a> </li>
        <li class='team-member'>
            <img alt='' class='photo-team' src='content/images/publisher.png'>
            <a class='member' href='#'>Katja Seizinger</a> </li>
        <li class='team-member'>
            <img alt='' class='photo-team' src='content/images/publisher.png'>
            <a class='member' href='#'>Hanna Nicole Jackmann</a> </li>
        <li class='team-member'>
            <img alt='' class='photo-team' src='content/images/publisher.png'>
            <a class='member' href='#'>Philipp Mainard</a> </li>
        <li class='team-member'>
            <img alt='' class='photo-team' src='content/images/publisher.png'>
            <a class='member' href='#'>Katja Seizinger</a> </li>
    </ul>*@
</div>
