@using System.Configuration
@model Localactors.entities.project
@{
    ViewBag.Title = Model.Title + ": Thank You!";
    //var PP_URL = Url.Content("~/Scripts/paypal-button.min.js") + "?merchant=" + ConfigurationManager.AppSettings["PP_MerchantAccountId"];
}
@{Html.RenderPartial("_Project_Header", Model);}
<div id='project-update-tab'>
    <ul class='tab'>
        <li><a href='@Url.Action("Updates", "Projects", new { id = Model.ProjectID })'>Update
            <span class="number">(@Model.updates.Count)</span></a> </li>
        <li><a href='@Url.Action("Details", "Projects", new { id = Model.ProjectID })'>Project
            Details</a> </li>
        <li><a href='@Url.Action("Guestbook", "Projects", new { id = Model.ProjectID })'>Guestbook
            <span class="number">(@Model.project_guestbook.Count)</span></a> </li>
        <li class='active'><a href='@Url.Action("Ask", "Projects", new { id = Model.ProjectID })'>
            Ask a Question</a> </li>
    </ul>
    <hr class='tab-line'>
</div>
<div id='donation'>
    @*    <div id='publisher-intro'>
        <p class='name'>
            Akke M. Draijer says:
        </p>
        <p class='quote'>
            “Here should go a wonderful intro written by the publisher to acknowledge the supporter
            action and his commitment toward the project.”
        </p>
    </div>*@
    <div id='payment'>
        <h1>
            Donation / <span>payment</span>
        </h1>
        <hr class='spacer-payment'>
        <div id='money-transfer'>
            <div class='icon'>
            </div>
            <div class='container'>
                <h2>
                    Bank transfer on local actors account
                </h2>
                <p>
                    If you wish to support a project by direct on-line transfer from your account, please,
                    use the following IBAN code stating clearly the name of the project. In case of
                    direct on-line payment, your contribution will take approximately 5 days to appear
                    on the project page.
                </p>
                <div id='dati-transfer'>
                    <div id='reason'>
                        <div class='left'>
                            <h4>
                                Reason for payments:
                            </h4>
                        </div>
                        <div class='right'>
                            <p class='dati'>
                                P@(Model.ProjectID)
                                @Model.Title
                            </p>
                        </div>
                    </div>
                    <div id='account'>
                        <div class='left'>
                            <h4>
                                Account holder:
                            </h4>
                        </div>
                        <div class='right'>
                            <p class='dati'>
                                Local Actors
                            </p>
                        </div>
                    </div>
                    <div id='iban'>
                        <div class='left'>
                            <h4>
                                IBAN:
                            </h4>
                        </div>
                        <div class='right'>
                            <p class='dati'>
                                GB21MYMB23058012426712</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class='spacer-payment'>
        <div id='online-payment'>
            <div class='icon'>
            </div>
            <div class='container'>
                <h2>
                    Online payment using Paypal
                </h2>
                <p>
                    We suggest you to consider using Paypal option: secure and fast payment process.
                </p>
                <div class='paypal-button'>
                    <div class='clear-box'>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form action="@ConfigurationManager.AppSettings["PP_IPNEndpoint"]" method="post" target="_top">
                            <INPUT TYPE="hidden" name="cmd" value="_xclick">
                            <INPUT TYPE="hidden" name="charset" value="utf-8">
                            <INPUT TYPE="hidden" NAME="currency_code" value="@ConfigurationManager.AppSettings["PP_Currency"]">
                            <INPUT type="hidden" name="business" value="@ConfigurationManager.AppSettings["PP_MerchantAccountId"]">
                        @* 
                        <!--labels + values to show on paypal-->                       
                        <input type="hidden" name="on0" value="">
                        <input type="hidden" name="os0" value="">
                        <input type="hidden" name="on1" value="">
                        <input type="hidden" name="os2" value="">
                        *@
                        <input type="hidden" name="custom" value="@User.Identity.Name">
                        
                        @*<input type="hidden" name="button_subtype" value="services">*@
                        <input type="hidden" name="no_note" value="1">
                        <input type="hidden" name="no_shipping" value="1">
                        <!--return and ipn callback-->
                        <input type="hidden" name="return" value="@Url.AbsoluteAction("return", "donation", new { projectid = Model.ProjectID })">
                        <input type="hidden" name="cancel_return" value="@Url.AbsoluteAction("details", "projects", new { id = Model.ProjectID })">
                        <input type="hidden" name="notify_url" value="@ConfigurationManager.AppSettings["PP_Callback"]">
                        @*
                        <!--paypal signup page locale-->
                        <input type="hidden" name="lc" value="US">
                        *@
                        <!--item details-->
                        <input type="hidden" name="item_name" value="P@(Model.ProjectID) @Model.Title">
                        <input type="hidden" name="item_number" value="@Model.ProjectID">
                        @*<input type="hidden" name="amount" value="1.00">*@
                        <input name="submit" type="image" src="https://s3-eu-west-1.amazonaws.com/localactors-webapp/content/buttons/paypal_btn-86.png">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        @if (@ConfigurationManager.AppSettings["PP_environment"] == "sandbox")
                        {
                            <input type="hidden" name="env" value="sandbox" />
                        }
                        </form>
                        
                        
               

                    }
                    else
                    {
                        <div>
                            To donate using Paypal you need to register or login first :)</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
