@using System.Configuration
@model Localactors.entities.project
@{
    ViewBag.Title = Model.Title + " Guestbook";
    bool isadmin = User.IsInRole("admin") || ViewBag.UserID == Model.UserID;
    bool isauthenticated = User.Identity.IsAuthenticated;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@{Html.RenderPartial("_Project_Header", Model);}
<div id='project-update-tab'>
    <ul class='tab'>
        <li><a href='@Url.Action("Updates", "Projects", new { id = Model.ProjectID })'>Update
            <span class="number">(@Model.updates.Count)</span></a> </li>
        <li><a href='@Url.Action("Details", "Projects", new { id = Model.ProjectID })'>Project
            Details</a> </li>
        <li class='active'><a href='@Url.Action("Guestbook", "Projects", new { id = Model.ProjectID })'>
            Guestbook <span class="number">(@Model.project_guestbook.Count)</span></a></li>
        <li><a href='@Url.Action("Ask", "Projects", new { id = Model.ProjectID })'>Ask a Question</a>
        </li>
    </ul>
    <hr class='tab-line'>
</div>
<div id='update-body'>
    <div id='guestbook'>
        <div id='comments'>
            <h3 class='number-comments'>
                @Model.project_guestbook.Count comments:
            </h3>
            <ul>
                @foreach (var item in Model.project_guestbook)
                {
                    <li>
                        <div class='container-photo-profile'>
                            <img alt='' class='photo-profile' src='@item.user.Image'>
                        </div>
                        <h3 class='name'>
                            @item.user.Name @item.user.Lastname</h3>
                        <p class='date'>
                            @item.Date.ToLongDateString() <span class="slash">/</span> @item.Date.ToShortTimeString()
                        </p>
                        <div class='content'>
                            @if (!string.IsNullOrEmpty(item.Text))
                            {
                                <p>
                                    @item.Text
                                </p>
                            }
                            @if (!string.IsNullOrEmpty(item.Link))
                            {
                                <div>
                                    <a href="@item.Link">@item.Link</a></div>
                            }
                            @if (!string.IsNullOrEmpty(item.Picture))
                            {
                                <div>
                                    <img src="@item.Picture" /></div>
                            }
                            @if (isadmin || ViewBag.UserID == item.UserID)
                            {
                                <div class="admin">
                                    @using (Html.BeginForm("GuestbookDelete", "Projects"))
                                    {
                                        <input type="hidden" name="GuestpostID" value="@item.GuestpostID"/>
                                        <input type="hidden" name="ProjectID" value="@Model.ProjectID"/>
                                        <input type="submit" value="delete" class="btn" />
                                    }
                                </div>
                            }
                        </div>
                    </li>
                    <hr class='spacer-comments' />
                }
            </ul>
        </div>
        @if (isauthenticated)
        {
            { Html.RenderPartial("_Form_Guestbook", Model); }
        }
        else
        {
            <div>
                To post comments on the Project Guestbook you need to register or login.</div>
        }
    </div>
</div>
