@using System.Configuration
@model IEnumerable<Localactors.entities.project>

@{
    ViewBag.Title = "Projects";
    var PP_URL = Url.Content("~/Scripts/paypal-button.min.js") + "?merchant=" + ConfigurationManager.AppSettings["PP_MerchantAccountId"];
}

@*
<table>
 
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ProjectID })
        </td>
    </tr>
}

</table>
*@


<ul id='projects'>
    
    @foreach(project project in Model) {
         <li>
        <hr class='spine top'>
        <div class='block-header'>
            <div class='container-publisher'>
                <img alt='' class='photo-publisher' src='@project.user.Image'>
                <h3 class='publisher'>@project.user.Name</h3>
            </div>
            @*  
            //Non previsto          
            <div class='container-publisher last'>
                <img alt='' class='photo-publisher' src='content/images/cemara_logo.jpg'>
                <h3 class='ngo'>Foundation Kebon Sepatu</h3>
            </div>*@
            <div class='container-costs'>
                <p class='costs'>
                    <span class="number">@project.Target &#128;</span> total cost / <span class="number">@project.donations.Select(x=>x.UserID).Distinct().Count()</span> persons behind this project
                </p>
                <a href='@Url.Action("Details","Projects",new{id=project.ProjectID})'>go to project</a>
            </div>
        </div>
        <div class='block-main'>
            <div class='container-title'>
                <h1 class='title'>@project.Title</h1>
                <div class='icon-where'></div>
                <h2 class='subtitle'>@project.Location</h2>
            </div>
            <ul class='description'>
                @project.Description
                @* 
                //Devo mettere la descrizione in HTML?
                <li>
                    <div class='number-list'>
                        <p>1</p>
                    </div>
                    <p>
                        Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness.
                    </p>
                </li>
                <li>
                    <div class='number-list'>
                        <p>2</p>
                    </div>
                    <p>
                        For he is truly his brother's keeper and the finder of lost children.
                    </p>
                </li>
                <li>
                    <div class='number-list'>
                        <p>3</p>
                    </div>
                    <p>
                        Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
                    </p>
                </li>*@
            </ul>
        </div>
    </li>
    }
</ul>