@model Localactors.entities.user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>user</legend>

    <div class="display-label">Role</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role)
    </div>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">UserPassword</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserPassword)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Lastname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lastname)
    </div>

    <div class="display-label">Bio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bio)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">country</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.country.Code)
    </div>

    <div class="display-label">Enabled</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Enabled)
    </div>

    <div class="display-label">Confirmed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Confirmed)
    </div>

    <div class="display-label">ShouldChangePassword</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShouldChangePassword)
    </div>

    <div class="display-label">Privacy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Privacy)
    </div>

    <div class="display-label">Newsletter</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Newsletter)
    </div>

    <div class="display-label">Reset</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reset)
    </div>

    <div class="display-label">ResetEndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResetEndDate)
    </div>

    <div class="display-label">Email_Hash</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email_Hash)
    </div>

    <div class="display-label">DateJoined</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateJoined)
    </div>

    <div class="display-label">DateLastLogin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateLastLogin)
    </div>

    <div class="display-label">Image</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
