@model Localactors.entities.user
@{
    ViewBag.Title = "Profilo: " + Model.UserName ;
    Layout = "~/Views/Account/_Layout.cshtml";}

<div class="span8 ">

    <h6>@Model.UserName</h6>
    <hr />
    <div class="clearfix">
        @Model.Name (@Model.DateJoined)
    </div>
    <div class="clearfix">
        <i>@Model.Bio</i>
    </div>
    <hr />
    @Html.ActionLink("Modifica", "UserSettings", null, new { @class="btn primary"})


    

</div>
