@model SubscribeModel
@{
    ViewBag.Title = "Registrazione Utente";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Subscribe","Account",FormMethod.Post,new{@class="blue-form", id="register"}))
{
    
    @Html.ValidationSummary(true)
    <div class='container-form'>
        <div class="mail">
            <label for="Email" class="" style="text-align: right;">
                    <span></span> Email</label>
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="password">
            <label for="Password" class="" style="text-align: right;">
                    <span></span> Password</label>
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="confirm-password">
            <label for="Confirm" class="" style="text-align: right;">
                    <span></span> Password Confirm</label>
            @Html.PasswordFor(model => model.Confirm)
            @Html.ValidationMessageFor(model => model.Confirm)
        </div>
        <div class="newsletter">
            <label for="Newsletter" class="" style="text-align: right;">
                    <span></span> Newsletter</label>
            @Html.CheckBoxFor(model => model.Newsletter)
            @Html.ValidationMessageFor(model => model.Newsletter)
        </div>
    </div>
        

    <hr class='spacer privacy' />
    <div class="privacy">
        <p>
            After reading the <a href="@Url.Action("privacy", "Home")" target="_blank">
                                  Privacy Policy</a>, i agree to the terms hereby exposed.
        </p>
        <div class='container-radio'>
            <div class="radio">
                <label for="Privacy0" class="" style="text-align: right;">
                    <span></span> I Agree</label>
                <input type="radio" class="" id="Privacy0" name="Privacy" value="I Agree" 
                       data-val-required="Privacy Policy Agreement is Mandatory."
                       data-val="true" />
            </div>
            <div class="radio">
                <label for="Privacy1" class="" style="text-align: right;">
                    <span></span> I Don't Agree</label>
                <input type="radio" class="" id="Privacy1" name="Privacy" value="I Don't Agree"
                       data-val-required="Privacy Policy Agreement is Mandatory" data-val="true" />
            </div>
            @Html.ValidationMessageFor(model => model.Privacy)
        </div>
    </div>
    
     <div class="privacy">
        <p>
            After reading the <a href="@Url.Action("TOS", "Home")" target="_blank">
                Terms and Conditions </a>, i agree to the terms hereby exposed.
        </p>
        <div class='container-radio'>
            <div class="radio">
                <label for="Terms0" class="" style="text-align: right;">
                    <span></span> I Agree</label>
                <input type="radio" class="" id="Terms0" name="Terms" value="I Agree" 
                data-val-required="Terms Agreement is Mandatory."
                    data-val="true" />
            </div>
            <div class="radio">
                <label for="Terms1" class="" style="text-align: right;">
                    <span></span> I Don't Agree</label>
                <input type="radio" class="" id="Terms1" name="Terms" value="I Don't Agree"
                    data-val-required="Terms Agreement is Mandatory" data-val="true" />
            </div>
            @Html.ValidationMessageFor(model => model.Terms)
        </div>
    </div>

    <br />
    <hr class='spacer button' />


    <div class='iscriviti'>
        <div class='clear-box'>
        </div>
        <div class='button_container'>
            <div class='corner_left'>
            </div>
            <h4 class='buttons yellow_button'>
                <input type='submit' value='  Register  '>
            </h4>
            <div class='corner_right'>
            </div>
        </div>
    </div>
}
