@model Localactors.entities.project_plan

@{
    ViewBag.Title = "Create";
}
@if (ViewBag.Project != null) {
    <ul class="breadcrumb">
        <li><a href='@Url.Action("Index","Home")'>Home</a> <span class="divider">/</span></li>
        <li><a href='@Url.Action("Index","projects")'>Projects</a> <span class="divider">/</span></li>
        <li><a href="@Url.Action("Edit", "projects", new { id = ViewBag.Project.ProjectID })">@ViewBag.Project.Title</a> <span class="divider">/</span> </li>
        <li class="active"><a href='@Url.Action("Create", "Plans", new { projectid = ViewBag.Project.ProjectID })'>New Plan Step</a></li>
    </ul>
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>project_plan</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectID, "project")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProjectID", String.Empty)
            @Html.ValidationMessageFor(model => model.ProjectID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Order)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Order)
            @Html.ValidationMessageFor(model => model.Order)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Time)
            @Html.ValidationMessageFor(model => model.Time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
