@model Localactors.entities.project_plan

@{
    ViewBag.Title = "Delete";
}

<ul class="breadcrumb">
    <li><a href='@Url.Action("Index", "Home")'>Home</a> <span class="divider">/</span></li>
    <li><a href='@Url.Action("Index", "projects")'>Projects</a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Edit", "projects", new { id = ViewBag.Project.ProjectID })">@ViewBag.Project.Title</a>
        <span class="divider">/</span> </li>
    <li class="active"><a href='@Url.Action("delete", "Plans", new { id = Model.PlanID })'>@Model.Title
        (delete) </a></li>
</ul>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>project_plan</legend>

    <div class="display-label">project</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.project.Title)
    </div>

    <div class="display-label">Order</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order)
    </div>

    <div class="display-label">Time/Month</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time)
    </div>

    <div class="display-label">Title/Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
