@model Localactors.entities.project_photo

@{
    ViewBag.Title = "Delete";
}

<ul class="breadcrumb">
    <li><a href='@Url.Action("Index","Home")'>Home</a> <span class="divider">/</span></li>
    <li><a href='@Url.Action("Index","projects")'>Projects</a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Edit", "Projects", new { id = @ViewBag.Project.ProjectID })">@ViewBag.Project.Title</a> <span class="divider">/</span> </li>
    <li><a href="@Url.Action("Index", "ProjectPhotos", new { projectid = @ViewBag.Project.ProjectID })">Photos</a> <span class="divider">/</span> </li>
    <li class="active"><a href='@Url.Action("Delete","ProjectPhotos",new{id=Model.PhotoID})'>@Model.Caption (delete) </a></li>
</ul>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>project_photo</legend>

    <div class="display-label">project</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.project.Title)
    </div>
    
    <div class="display-label">Caption</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Caption)
    </div>

    <img src="@string.Format("{0}?v={1}", Model.Url, DateTime.Now.Ticks)" class="imagepreview" alt=""  width="128px" />

    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn" /> |
        <input type="hidden" name="returntoproject" value="@ViewBag.returntoproject"/>
        @Html.ActionLink("Back to List", "Index", new { @class = "btn" })
    </p>
}
