@model IEnumerable<Localactors.entities.project>

@{
    ViewBag.Title = "Projects";
}
<ul class="breadcrumb">
    <li><a href='@Url.Action("Index","Home")'>Home</a> <span class="divider">/</span></li>
    <li class="active"><a href='@Url.Action("Index","projects")'>Projects</a> </li>
</ul>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn" })
</p>
<table class="table table-condensed table-striped table-bordered">
    <tr>
        <th>
            user
        </th>
        <th>
            Agency
        </th>
        <th>
            Title
        </th>

        <th>
            Date
        </th>
        <th>
            DateStart
        </th>
        <th>
            DateEnd
        </th>
        <th>
            country
        </th>
        <th>
            Location
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgancyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectID }) | 
            @Html.ActionLink("Updates", "Index", "Update", new { projectid = item.ProjectID },new{})  |
            @Html.ActionLink("New Update", "Create", "Update", new { projectid = item.ProjectID },new{}) 
        </td>
    </tr>
}

</table>
