@model IEnumerable<Localactors.entities.project>

@{
    ViewBag.Title = "Projects";
}
<ul class="breadcrumb">
    <li><a href='@Url.Action("Index","Home")'>Home</a> <span class="divider">/</span></li>
    <li class="active"><a href='@Url.Action("Index","projects")'>Projects</a> </li>
</ul>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn" })
</p>
<table class="table table-condensed table-bordered">
    <tr>
        <th></th>
        <th>
            user
        </th>
        <th>
            Agency
        </th>
        <th>
            Title
        </th>

        <th>
            Target 
        </th>
        <th>
            Ends
        </th>
        <th>Days</th>
        <th>
            Country
        </th>
        <th>
            Location
        </th>
        <th></th>
 
    </tr>

@foreach (var item in Model) {
    <tr class="@(item.Enabled == false ? "disabled":"")">
        <td style="background:url(@item.Image); background-size:cover;background-repeat:no-repeat;width:64px;">
            
        </td>
        <td>
            @Html.ActionLink(item.user.UserName, "Edit","User", new { id=item.UserID },new{})
        </td>
        <td>
           @Html.Raw(item.AgancyName)
        </td>
        <td>
            @Html.Raw(item.Title)
        </td>

      
        <td>
            @Html.DisplayFor(modelItem => item.Target)
        </td>
        <td >
            @item.DateEnd.ToShortDateString()
        </td>
        <td> @((item.DateEnd-DateTime.Now).Days)</td>
        <td>
            @Html.DisplayFor(modelItem => item.country.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
     
        <td style="white-space: nowrap;">
            
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectID }) | 
            @Html.ActionLink("Updates", "Index", "Update", new { projectid = item.ProjectID },new{})  |
            @Html.ActionLink("Add Update", "Create", "Update", new { projectid = item.ProjectID },new{}) | 
            @(item.Enabled ? Html.ActionLink("Disable", "Disable", new {id = item.ProjectID}) : Html.ActionLink("Enable", "Enable", new {id = item.ProjectID}))
        </td>
    </tr>
}

</table>
