@using System.Configuration
@{
    ViewBag.Title = "";
}

 <div id='map'>
        <div id='slides'>
          <ul>
            <li class='slide1'>
              <img data-src980="/content/images/world1.png" src="/content/images/world1-mobile.png" />
            </li>
            <li class='slide2'>
              <img data-src980="/content/images/world2.png" src="/content/images/world2-mobile.png" />
            </li>
            <li class='slide3'>
              <img data-src980="/content/images/world3.png" src="/content/images/world3-mobile.png" />
            </li>
          </ul>
        </div>
        <div id='steps'>
          <div id='arrow_left'></div>
          <div id='text'>
            <ul>
              <li class='step1'>
                <div id='arrow1'></div>
                <div id='title'>
                  <h4>From local</h4>
                  <p>You see a need and figure out a project. Either you run one or you find one to support.</p>
                </div>
              </li>
              <li class='step2'>
                <div id='arrow2'></div>
                <div id='title'>
                  <h4>To global</h4>
                  <p>You publish and get in touch with supporters. Through local actors the project gets funding, resources and ideas.</p>
                </div>
              </li>
              <li class='step3'>
                <div id='arrow3'></div>
                <div id='title'>
                  <h4>You become a local actor</h4>
                  <p>When you succeed, the project gets going and you become a local actor.</p>
                </div>
              </li>
            </ul>
          </div>
          <div id='arrow_right'></div>
        </div>
        <div class='banner-container'>
          <div class='banner-call'>
            <div class='border1'></div>
            <div class='border2'></div>
            <div class='bg-dash'></div>
            <div class='bg-white'></div>
            <div class='icon'></div>
            <ul>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='en'>Looking for new projects!</a>
              </li>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='it'>Cerchiamo progetti interessanti!</a>
              </li>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='es'>¡En busca de nuevos proyectos!</a>
              </li>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='pt'>Buscamos novos projetos!</a>
              </li>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='tr'>Yeni projeler arıyoruz!</a>
              </li>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='fr'>Avez vous des nouveaux projets?</a>
              </li>
              <li>
                <a dir='rtl' href='@Url.Action("CallForProjects","Home")' lang='ar'>نحن نبحث عن مشاريع جديدة</a>
              </li>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='zh'>期待合作</a>
              </li>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='cs'>Hledame nove projekty</a>
              </li>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='pl'>Masz nowy projekt ? Podziel sie z nami !</a>
              </li>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='hu'>Uj projekteket keresunk!</a>
              </li>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='de'>Wir suchen neue Projekte!</a>
              </li>
              <li>
                <a href='@Url.Action("CallForProjects","Home")' lang='nl'>We zijn op zoek naar nieuwe projecten!</a>
              </li>
            </ul>
          </div>
        </div>
        <div class='clear'></div>
        <hr class='spacer-home'>
      </div>
      <div id='explanation'>
        <ul>
          <li>
            <h2>
              meet the local actors /
              <span>publishers</span>
            </h2>
            <p>
              We all know where the need is. We look for opportunity to be of use and there is no better way than help locally.
            </p>
          </li>
        </ul>
        <ul class='publisher-list'>
          <li class='publisher'>
            <a href='/project_update.html'>
              <img src="/content/images/publisher_placeholder2.png" />
              <span>Philipp Mainard</span>
            </a>
          </li>
          <li class='publisher'>
            <a href='/project_update.html'>
              <img src="/content/images/publisher_placeholder2.png" />
              <span>Katja Seizinger</span>
            </a>
          </li>
          <li class='publisher right'>
            <a href='/project_update.html'>
              <img src="/content/images/publisher_placeholder2.png" />
              <span>Hanna Nicole Jackmann</span>
            </a>
          </li>
          <li class='publisher'>
            <a href='/project_update.html'>
              <img src="/content/images/publisher_placeholder2.png" />
              <span>Katja Seizinger</span>
            </a>
          </li>
          <li class='publisher'>
            <a href='/project_update.html'>
              <img src="/content/images/publisher_placeholder2.png" />
              <span>Hanna Nicole Jackmann</span>
            </a>
          </li>
          <li class='publisher right'>
            <a href='/project_update.html'>
              <img src="/content/images/publisher_placeholder2.png" />
              <span>Philipp Mainard</span>
            </a>
          </li>
          <li class='publisher'>
            <a href='/project_update.html'>
              <img src="/content/images/publisher_placeholder2.png" />
              <span>Katja Seizinger</span>
            </a>
          </li>
          <li class='publisher'>
            <a href='/project_update.html'>
              <img src="/content/images/publisher_placeholder2.png" />
              <span>Hanna Nicole Jackmann</span>
            </a>
          </li>
          <li class='publisher right'>
            <a href='/project_update.html'>
              <img src="/content/images/publisher_placeholder2.png" />
              <span>Philipp Mainard</span>
            </a>
          </li>
          <li class='publisher'>
            <a href='/project_update.html'>
              <img src="/content/images/publisher_placeholder2.png" />
              <span>Katja Seizinger</span>
            </a>
          </li>
        </ul>
        <div class='clear'></div>
        <ul>
          <li>
            <h2>
              last published /
              <span>projects</span>
            </h2>
          </li>
        </ul>
        <hr class='spacer-projects'>
        <div class='cover-projects'>
          <p class='info-project-track'>
            <span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
          </p>
          <div class='info-project'>
            <h1 class='title'>
              <a href='/project_update.html'>
                South Africa Dryness issue: irrigation system in uganda
              </a>
            </h1>
            <div class='icon-where'></div>
            <h2 class='subtitle'>
              South Africa/Uganda	placeholder headline location
            </h2>
            <p class='intro'>
              Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
            </p>
          </div>
          <div class='container-photo'>
            <img alt='' class='photo-cover' src='@Url.Content("~/content/images/cover_project.png")'>
          </div>
        </div>
        <hr class='spacer-projects'>
        <div class='cover-projects'>
          <p class='info-project-track'>
            <span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
          </p>
          <div class='info-project'>
            <h1 class='title'>
              <a href='/project_update.html'>
                Short placeholder
              </a>
            </h1>
            <div class='icon-where'></div>
            <h2 class='subtitle'>
              South Africa/Uganda
            </h2>
            <p class='intro'>
              Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
            </p>
          </div>
          <div class='container-photo'>
            <img alt='' class='photo-cover' src='content/images/cover_project2.png'>
          </div>
        </div>
        <hr class='spacer-projects'>
        <div class='cover-projects'>
          <p class='info-project-track'>
            <span class="number">-15</span> days / <span class="number">&#128; 9.752</span> raised of <span class="number">&#128; 15.000</span> pledged / <span class="number">450</span> supporters
          </p>
          <div class='info-project'>
            <h1 class='title'>
              <a href='/project_update.html'>
                Rosella Lombok pride
              </a>
            </h1>
            <div class='icon-where'></div>
            <h2 class='subtitle'>
              South Africa/Uganda	placeholder headline location
            </h2>
            <p class='intro'>
              Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.
            </p>
          </div>
          <div class='container-photo'>
            <img alt='' class='photo-cover' src='content/images/cover_project.png'>
          </div>
        </div>
      </div>