@model Localactors.entities.update_content_type

@{
    ViewBag.Title = "Delete";
}

<ul class="breadcrumb">
    <li><a href='@Url.Action("Index","Home")'>Home</a> <span class="divider">/</span></li>
    <li><a href='@Url.Action("Index","UpdateContentTypes")'>Content Types</a> <span class="divider">/</span></li>
    <li class="active"><a href='@Url.Action("Delete", "UpdateContentTypes",new{id=@Model.ContentTypeID})'>@Model.ContentTypeName (delete)</a></li>
</ul>

<h3>Are you sure you want to delete this?</h3>
<fieldset>


    <div class="display-label">ContentTypeName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContentTypeName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn"  value="Delete" /> |
        @Html.ActionLink("Back to List", "Index",new{},new{@class="btn"})
    </p>
}
